@model Shopping.Data.Entities.Product
@{
    ViewData["Title"] = "Detalles del Producto";
}

<!--Encabezado de Página-->
<div class="main-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-4 border-bottom ">
    <div class="col-lg-5">
        <h2>Detalles del Producto</h2>
        <em>Detalles del producto.</em>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">

            <a asp-action="Index" class="btn btn-primary"><i class="fal fa-arrow-left"></i> Regresar</a>
        </div>
    </div>
</div>

<div>
    <partial name="_ProductDetails" />
</div>

<div>
    <a asp-action="AddImage" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Agregar Imagen</a>
    <a asp-action="AddCategory" asp-route-id="@Model?.Id" class="btn btn-outline-secondary">Agregar Categoría</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar Producto</a>
</div>

<link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" asp-append-version="true" />

<hr />

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Imágenes</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="ImagesTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductImages.FirstOrDefault().ImageFullPath)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProductImages)
                        {
                            <tr class="d-flex ">
                                <td class="d-flex justify-content-start align-items-center flex-fill">
                                    <img src="@item.ImageFullPath" style="width:100px;" />
                                </td>
                                <td class="d-flex justify-content-center align-items-center">
                                    <a asp-action="DeleteImage" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Categorías</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="CategoriesTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductCategories.FirstOrDefault().Category.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProductCategories)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </td>
                                <td class="d-flex justify-content-center align-items-center">
                                    <a asp-action="DeleteCategory" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#ImagesTable, #CategoriesTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [10, 25, 50, 100, 200, -1],
                    [10, 25, 50, 100, 200, "Todos"]
                ]
            });

        });
    </script>
}
